<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="utf-8" />
    <title>Sweet Cash</title>
    <link rel="stylesheet" href="https://sweetcash.org/styles/style.css" />
    <link rel="apple-touch-icon" sizes="180x180" href="https://sweetcash.org/src/modules/auth/asserts/apple-touch-icon.png">
    <link rel="icon" type="image/png" sizes="32x32" href="https://sweetcash.org/src/modules/auth/asserts/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="16x16" href="https://sweetcash.org/src/modules/auth/asserts/favicon-16x16.png">
    <link rel="manifest" href="https://sweetcash.org/src/modules/auth/asserts/site.webmanifest">
    <link
        href="https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css"
        rel="stylesheet"
    />
    <script src="https://kit.fontawesome.com/22c45d22f8.js" crossorigin="anonymous"></script>
</head>
<body>

    <div class="container">
        <div>
            <h1>Sweet Cash</h1>
            <h3>Адрес электронной почты подтверждён</h3>
        </div>
    </div>

</body>
</html>